<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Super To Do List</title>
    <link rel="stylesheet" href="/style.css" />
</head>

<body>
    <h1>Super To Do List</h1>

    <form action="/" method="post" id="addForm">
        Que dois-je faire ? <input type="text" name="todo" id="textInput" autofocus>
        <button type="submit" id="validate">Valider</button>
    </form>

    <ul id="toDoList">
    </ul>

    <script src="/socket.io/socket.io.js"></script>
    <script>
        var socket = io.connect("http://localhost:8080");
        var addForm = document.getElementById('addForm');

        addForm.addEventListener('submit', function (event) {
            var textToAdd = document.getElementById('textInput').value;
            socket.emit('newElementToAdd', textToAdd);
            document.getElementById('textInput').value = '';
            event.preventDefault();
        });

        socket.on('modification', function (list) {
            var elementList = document.getElementById('toDoList');
            while (elementList.firstChild) {
                elementList.removeChild(elementList.firstChild);
            }

            for (let i = 0; i < list.length; i++) {   
                var item = document.createElement('li');
                item.textContent = "✔ "+ list[i];
                item.id = i;              
                elementList.appendChild(item);
                item.addEventListener('click', function(e) {
                    console.log(e.target.innerText);
                    socket.emit('itemToRemove', e.target.id);
                });
            }
        });
    </script>
</body>

</html>